.login {
    display: flex;
    align-items: center;
    width: 100%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #1847FF 0%, #428EF9 100%);
    width: 70%;
    height: 100vh;
}

.imgWrapper {
    text-align: center;
}

.imgWrapper div {
    position: relative;
}

.chart {
    position: absolute;
    right: 0;
    bottom: 0px;
}

p {
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;
    margin-bottom: 5px;

    /* White */

    color: #FFFFFF;
}

span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    /* Primary/200 */

    color: #E9D7FE;
}

.right {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.wrapperLoginRight {
    text-align: start;
}

.wrapperLoginRight p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #5E5873;
}

.wrapperLoginRight h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* or 150% */


    /* Text/Body */

    color: #333333;
}

.wrapperLoginRight label {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    /* Text/Body */

    color: #333333;
    display: block;
    margin-top: 23px;
}

.wrapperLoginRight input {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    width: 100%;

    /* Input/Default */

    color: #808080;
    padding: 8px 15px;
}

.wrapperLoginRight button {
    padding: 10px 22px;
    background: #006AFF;
    border-radius: 5px;
    margin-top: 63px;
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.4px;

    /* 1) Theme Color / White */

    color: #FFFFFF;
}

.wrapperLoginRight h5 {
    font-weight: 400;
    margin-top: 20px;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.wrapperLoginRight h5 a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.4px;
    color: #006AFF;

}